<div class="row h-100 align-items-center">
  <div class="container-fluid">
    <div class="col-12 text-center">
      <div class="jumbotron">
        <h1 class="m-0 display-4">Enter your Details</h1>
      </div>
    </div>
    <div class="row h-100 align-items-center">
      <div class="col-6 text-center">
          <div class="card  bg-success" style="width:400px">
            <img class="card-img-top" src="assets/player{{ playerNumber }}.png" alt="Player Image">
            <div class="card-body text-center">
              <h4 class="card-title">Player {{ playerNumber }}</h4>
            </div>
          </div>
      </div>
      <div class="col-6 text-center">
        <form (ngSubmit)="submitSelectedPlayer(playerForm.value)" novalidate #playerForm="ngForm">
          <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" name="name" ngModel required>
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" name="password" id="password" ngModel required>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>



