<div class="row h-100 align-items-center">
  <div class="container-fluid">
    <div class="col-12 text-center">
      <div class="jumbotron">
        <h1 class="m-0 display-4">Enter Credentials</h1>
      </div>
    </div>
    <div class="row h-100 align-items-center">
      <div class="col-6 text-center">
          <div class="card  bg-success" style="width:400px">
            <img class="card-img-top" src="assets/player1.png" alt="Player One Image">
            <div class="card-body text-center">
              <h4 class="card-title">Player One</h4>
            </div>
          </div>
      </div>
      <div class="col-6 text-center">
        <form action="/action_page.php">
          <div class="form-group">
            <label for="email">Email address:</label>
            <input type="email" class="form-control" id="email">
          </div>
          <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd">
          </div>
          <div class="form-group form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox"> Remember me
            </label>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>



