<!--The content below is only a placeholder and can be replaced.-->
<!--
 <nav class="navbar navbar-light bg-dark">
  <a routerLink="/selectplayer">Select Player</a>
  <a routerLink="/play">Start Game</a>
  <a routerLink="/score">Game Score</a>
  <a routerLink="/leaderboard">View Leaderboard</a>
</nav>
 Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <div class="navbar-brand">Ashley Solano - Crazy Dice</div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/start" routerLinkActive="active" >Start
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/leaderboard" routerLinkActive="active" >Leader board</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Full Page Image Header with Vertically Centered Content -->
<header class="masthead">
  <div class="container h-100">
    <router-outlet></router-outlet>
  </div>
</header>


