<div class="row h-100 align-items-center">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 text-center">
        <div class="jumbotron">
          <h1 class="m-0 display-4" *ngIf="!gameFinished">{{ currentPlayer?.name}}'s Turn ({{ turn }})</h1>
          <h1 class="m-0 display-4" *ngIf="gameFinished">{{ currentPlayer?.name}} Wins!</h1>
          <span *ngIf="!gameFinished">Click the dice to roll</span>
          <h2 class="float-right"
              *ngIf="!gameFinished">{{ dice1Roll }} + {{ dice2Roll }}</h2>
          <div class="btn-group">
            <button type="button" class="btn btn-primary"
                  (click)="startGame()" *ngIf="gameFinished">Play Again</button>
          </div>
          <div class="btn-group">
            <a routerLink="/leaderboard"  class="btn btn-outline-secondary"
                  *ngIf="gameFinished">Leader Board</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row ">
      <div class="col-12 text-center">
        <div class="card-deck">
          <div class="card  bg-success" style="width:400px">
            <img class="card-img-top" src="assets/player1.png" alt="Player One Image">
            <div class="card-body text-center">
              <h4 class="card-title">{{ player1 ? player1.name : 'Player One' }}</h4>
            </div>
          </div>

          <div class="card bg-info" style="width:400px">
            <img class="card-img-top" src="assets/player2.png" alt="Player Two Image">
            <div class="card-body text-center">
              <h4 class="card-title">{{ player2 ? player2.name : 'Player Two' }}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row top-buffer">
      <div class="col-6">
        <img src="assets/dice.png" class="img-thumbnail float-right" style="width:80px"
             *ngIf="!gameFinished && currentPlayer.name === player1.name"
             (click)="rollDice()"
        >
        <img src="assets/dice.png" class="img-thumbnail float-right" style="width:80px"
             *ngIf="numDice === 2 && !gameFinished && currentPlayer.name === player1.name"
             (click)="rollDice()"
        >
        <h2 class="card-title">Score:</h2>
        <h4 class="card-text">{{ player1?.score || '0'}}</h4>
      </div>
      <div class="col-6">
        <img src="assets/dice.png" class="img-thumbnail float-right" style="width:80px"
             *ngIf="!gameFinished && currentPlayer.name === player2.name"
             (click)="rollDice()"
        >
        <img src="assets/dice.png" class="img-thumbnail float-right" style="width:80px"
             *ngIf="numDice === 2 && !gameFinished && currentPlayer.name === player2.name"
             (click)="rollDice()"
        >
        <h2 class="card-title">Score:</h2>
        <h4 class="card-text">{{ player2?.score || '0' }}</h4>
      </div>
    </div>

  </div>
</div>



